
$sandpiper: #F5F2F0;
$blue-night: #323846;
$blue-sky: #78DBF3;
$ice-cold: #C3F7EB;
$cerise-pink: #EF3A79;

body {
  background-color: $sandpiper;
}

.navbar{
  background-color: $blue-night;
  .navbar-brand{
    color: $ice-cold !important;
  }

  
}

.footer{
  margin-top: 10px;
  text-align: center;
}
 
.tasks_list{

  margin-top: 40px;
  .title{
    font-size: 22px;
    color: $blue-night;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
 
  .create_task_btn{
    background-color: $blue-night;
    border-color: $blue-night;
    font-weight: 500;
    margin-top: 10px;
  }
 
  .card{
    
    background-color: $blue-night;
    table{
      tbody > tr:nth-child(1) > td{
        border-top: 0;
      }
      color: white;
      font-weight: 500;
      margin-bottom: 5px;
 
      .check{
        color: $blue-sky;
        font-size: 15px;
      }
      .delete{
        color: $cerise-pink;
      }
    }
  }
}