
$sandpiper: #F5F2F0;
$blue-night: #323846;
$blue-sky: #78DBF3;
$ice-cold: #C3F7EB;
$cerise-pink: #EF3A79;
$green: #A3EB6A;
$caribean-blue: #28BFDB;
$whitestorm: #6C98C6;

body {
  background-color: $sandpiper;
}

.navbar{
  background-color: $blue-night;
  .navbar-brand{
    color: $ice-cold !important;
  }
}

.footer{
  margin-top: 10px;
  text-align: center;
}
 
.tasks_list{

  transition: all 10s;

  margin-top: 40px;
  .title{
    font-size: 22px;
    color: $blue-night;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .create_task_input{
    margin-bottom: 4px;
  }

  .update-field {
    min-width: 300px;
    display: block;
    display: inline-flex;
    margin: 7px 0;
  }

    .update_task_title{
      min-width: 100%;
      margin: 4px 0;
  }
 
  .create_task_btn{
    background-color: $blue-night;
    border-color: $blue-night;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .update_task_btn{
    border-color: $sandpiper;
    background-color: $blue-night;
    font-weight: 500;
    margin-bottom: 4px;
  }

  
 
  .card{
    
    background-color: $blue-night;
    table{
      tbody > tr:nth-child(1) > td{
        border-top: 0;
      }
      color: white;
      font-weight: 500;
      margin-bottom: 5px;
 
      .check{
        color: $green;
        font-size: 15px;
      }
      .delete{
        color: $cerise-pink;
      }
      .edit{
        color: $whitestorm;
      }

      .act-btn {
        background-color: transparent;
        border: none;
      }
    }
  }
}